* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.sc1 {
    background-image: linear-gradient(rgba(8, 8, 8, 0.842), rgba(20, 9, 9, 0.932)), url(../image/1.jpg);
    background-size: cover;
    min-height: 80vh;
    background-repeat: no-repeat;
}
.sc2{
    min-height: 103px;
    background-color: #202c45;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.sc3{
    min-height: 750px;
}
.sc4{
    background-color: rgb(247, 236, 236);
    min-height: 720px;
}
.sc5{
    min-height: 200px;
    background-color: #e74c3c;
    background-image: linear-gradient(rgba(12, 12, 24, 0.932), rgba(19, 19, 37, 0.945)) ,url(../image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sc6{
    min-height: 760px;
}

p {
    color: white;
}

h1 {
    color: white;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.div2 {
    text-align: center;
}

.div3 {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div4{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.div5{
    margin-right: 100px;
    font-size: 31pt;
}
.div7{
    margin-left: 40px;
}
.div8{
    text-align: center;
    margin-top: 50px;
}
.div9{
    text-align: center;
}
.pd81 {
    color: black;
    font-size: 30px;
    margin-top: 10px;
}
.pd82{
    color: rgba(78, 70, 60, 0.541);
    margin-top: 10px;
}
.pd82 span{
    color: red;
}
.p811{
    margin-top: 10px;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.p812{
    margin-top: 10px;
    color: rgba(85, 72, 72, 0.507);
    font-weight: bold;
}
.p812 span{
    color: red;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.p1 {
    margin-top: 30px;
    
}

.p2 {
    margin-top: 30px;
}

.p3 {
    margin-top: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 65px;
}
.table{
    margin-right: 60px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid black;
    min-height: 500px;
    background-color: white;
    margin-left: 20px;
}
.table table{
    width: 100%;
}

.table table th {
    background-color: #202c45;
    width: 200px;
    height: 80px;
}
.table table .th1{
    background-color: rgb(230, 223, 223);
}
.table table .th1 p{
    color: #e74c3c;
}

.box1 {
    padding: 15px;
    background-color: rgb(100, 9, 9);
    width: 117px;
    height: 104px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.box2 {
    padding: 15px;
    background-color: rgb(100, 9, 9);
    width: 117px;
    height: 104px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.box3 {
    padding: 15px;
    background-color: rgb(100, 9, 9);
    width: 117px;
    height: 104px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.box4 {
    padding: 15px;
    background-color: rgb(3, 4, 36);
    width: 117px;
    height: 104px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.boxx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
.box5{
    width: 300px;
    height:500px;
    background-color: white;
}
.box6{
    width: 300px;
    height: 500px;
    background-color: white;
}
.box7{
    width: 300px;
    height: 500px;
    background-color: white;
}
.box8{
    background-color: rgb(131, 102, 102);
    margin-left: 20px;
    width: 117px;
    height: 50px; 
}

.div4 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.div4 a {
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4 a:hover{
    background-color: yellow;
}
.fa-calendar{
    color: rgb(116, 12, 12);
    font-size: 20px;
    margin-left: 5px;
}
.fa-location-dot{
    color: rgb(116, 12, 12);
    font-size: 20px;
    margin-left: 5px;
}
.fa-facebook{
    margin-top: 40px;
    color: white;
}
.fa-twitter{
    margin-top: 40px;
    color: white;
}
.fa-linkedin-in{
    margin-top: 40px;
    color: white;
}
.fa-google-plus-g{
    margin-top: 40px;
    color: white;
}
.fa-youtube{
    margin-top: 40px;
    color: white;
}
.fa-people-group{
    color: red;
    font-size: 40px;
}
.fa-clock{
    color: red;
    font-size: 30px;
    margin-top: 40px;
}
.div6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}
.div6 a {
    color: white;
    text-decoration: none;
}
.div6 a:hover{
    background-color: black;
}
.div7 a {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    text-decoration: none;
    color: white;
}
.div7 a:hover{
    background-color: blue;
}

.box5 .img1{
    height: 180px;
    width: 180px;
    margin: 10px auto;
}
.box6 .img2{
    height: 180px;
    width: 180px;
    margin: 10px auto;
}
.box7 .img3{
    height: 180px;
    width: 180px;
    margin: 10px auto;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.p51{
    text-align: center;
}
.p52{
    text-align: center;
    margin-top: 10px;
}
.ah{
    color: #e74c3c;
    font-size: 30px;
    font-weight: bold;
}
.a5t{
    color: rgba(78, 59, 59, 0.438);
}
.p52{
    margin-top: 20px;
}
.ic5{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ic51 .fa-facebook{
    color: #e74c3c;
    border-radius: 50%;
}
.ic52 .fa-twitter{
    color: #e74c3c;
}
.ic53 .fa-google-plus-g{
    color: #e74c3c;
}
.aa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aa a {
    width: 80px;
    height: 30px;
    background-color: #202c45;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.aa a:hover{
    background-color: greenyellow;
}
.people{
    margin-right: 70px;
}
.imgp1{
    margin-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid red;
}
.imgp1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.pe1{
    display: flex;
    flex-wrap: wrap;
}
.pe1 .pi1{
    width: 1000px;
    margin-top: 30px;
    margin-right: 30px;
}
 .pti{
    color: #e74c3c;
    font-weight: bold;
}
.pmu{
    margin-top: 8px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.pin{
    color: rgba(99, 90, 90, 0.486);
    font-weight: bold;
    margin-top: 8px;
}
.pna{
    color: #e74c3c;
    font-size: 20px;
    margin-top: 8px;
    font-weight: bold;
}
.fa-flag{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 15px;
}

.fa-hourglass-half{
    color: white;
    font-size: 30px;
    margin-top: 40px;
}
.fa-people-group{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 15px;
}
.fa-table{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 8px;
}
.sc5 p {
    margin-top: 25px;
    color: #e74c3c;
    font-size: 50px;
    font-weight: bold;
}
.nu1 p:nth-child(3){
    margin-top: 8px;
    font-size: 15px;
    color: white;
}
.nu2 p:nth-child(3){
    margin-top: 8px;
    font-size: 15px;
    color: white;
}
.nu3 p:nth-child(3){
    margin-top: 8px;
    font-size: 15px;
    color: white;
}
.nu4 p:nth-child(3){
    margin-top: 8px;
    font-size: 15px;
    color: white;
}
.fa-camera{
    color: red;
    font-size: 30px;
    margin-top: 40px;
}
.div61{
    text-align: center;
}
.imgr{
    min-height: 608px;
    margin-top: 10px;
}
.immg1{
display: flex;
flex-wrap: wrap;
gap: 2px;
}
.immg1 img{
    width: 297px;
    border-radius: 0%;
}
.immg2{
    display: flex;
flex-wrap: wrap;
gap: 2px;
    }
.immg2 img{
        margin-top: 3px;
        width: 297px;
        border-radius: 0%;
    }
.immg3{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
        }
.immg3 img{
            margin-top: 6px;
            width: 297px;
            border-radius: 0%;
        }
.sc7{
    min-height: 440px;
    display: flex;
    flex-wrap: wrap;
}
.div71{
    width: 45%;
    background-color: #202c45;
    min-height: 100%;
}
.call {
    margin-right: 100px;
    margin-left: 140px;
}
.pc1{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.pc2{
    margin-top: 8px;
    color: #e74c3c;
    font-size: 25px;
    font-weight: bold;
}
.pc3{
    margin-top: 8px;
    font-size: 17px;
}
.tele1{
    margin-right: 100px;
    margin-left: 140px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.tele1 .fa-location-dot{
    font-size: 20px;
    color: orangered;
}
.ptl1{
    font-size: 17px;
    margin-right: 12px;
    font-weight: bold;
}
.tele2{
    margin-right: 100px;
    margin-left: 140px;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}
.fa-phone-flip{
    font-size: 20px;
    color: orangered;
}
.tele3{
    margin-right: 100px;
    margin-left: 140px;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}
.fa-envelope{
    font-size: 20px;
    color: orangered;
}
.div72{
    width: 55%;
    min-height: 100%;
    background-color: #e74c3c;
}
.div72 iframe{
    width: 100%;
    height: 100%;
}
footer{
    height: 50px;
    background-color: rgb(36, 29, 29);
}
.f1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-copyright{
    margin-top: 20px;
    color: white;
    font-size: 5px;
}
.f2{
    margin-top: 20px;
    margin-right: 5px;
}
